<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/app.css" />
    </head>
    <body>
        <div class="container">
            <br />
            <div class="card">
                <div class="card-body">
                    <div id="search">
                        <div class="input-group mb-3">

                            <input v-model="place" class="form-control" placeholder="Search a place.." /> <div class="input-group-append" @keyup.enter="clearSearch">
                                <button @click="searchPlace" class="btn btn-outline-secondary" type="button">Search</button>
                            </div>
                        </div>
                        <div class="search-results">
                            <div v-if="temp" class="row">
                                <div class="col-sm-4">
                                    <h2> {{searchCity}} </h2>
                                    <h6> {{applicable_date}} </h6>

                                    <p>Temp: {{temp}} °C</p>
                                    <p>Min. {{minTemp}} °C</p>
                                    <p>Max. {{maxTemp}} °C</p>
                                    <p>
                                        <a href="javascript:void(0)" 
                                           @click="viewDetails" :title="woeid" class="">
                                            {{view_more}}
                                        </a>
                                    </p>
                                </div>
                                <div class="col-sm-8">
                                    <img v-if="stateImg" :src="stateImg" alt="" width="64"/>
                                    <p> {{stateName}} </p>
                                </div>
                                <div v-if="displayDetails" class="weathers">
                                    <ul>
                                        <li v-for="w in weathers">
                                            <h4>{{ w.applicable_day }}</h4>
                                            <img :src="w.stateImg" alt="" width="50" />
                                            <p>{{ w.stateName }}</p>
                                            <p><small>Max</small> {{ w.maxTemp }}</p>
                                            <p><small>Min</small> {{ w.minTemp }}</p>
                                        </li>
                                    </ul>


                                </div>

                            </div>
                            <p v-if="loading">{{loading}}</p>
                            <div v-if="no_results_text" class="no-result">{{no_results_text}}</div>


                        </div>
                    </div>
                </div>
            </div>
            <br />

            <br />
            <div class="row" id="cityWeathers">
                <div class="col-sm">
                    <weather title="Istanbul" woeid="2344116"></weather>
                </div>
                <div class="col-sm">
                    <weather title="Berlin" woeid="638242"></weather>

                </div>
                <div class="col-sm">
                    <weather title="London" woeid="44418"></weather>
                </div>
                <div class="col-sm">
                    <weather title="Helsinki" woeid="565346"></weather>
                </div>
                <div class="col-sm">
                    <weather title="Dublin" woeid="560743"></weather>
                </div>
                <div class="col-sm">
                    <weather title="Vancouver" woeid="9807"></weather>
                </div>
            </div>
        </div>


        <script src="js/vue.js"></script>
        <script src="js/axios.min.js"></script>
        <script src="js/app.js"></script>

    </body>
</html>
